Build and maintain a secure network 	

   1. Install and maintain a firewall configuration to protect cardholder data
	Policy

   2. Do not use vendor-supplied defaults for system passwords and other security parameters
	Policy

Protect cardholder data 	

   3. Protect stored cardholder data
	Policy
   4. Encrypt transmission of cardholder data across open, public networks
	Policy  - Encrypt  at rest (KMS) and transit (TLS)

Maintain a vulnerability management program 	

    5. Use and regularly update anti-virus software
	Policy
    6. Develop and maintain secure systems and applications
	Policy

Implement strong access control measures 	

    7. Restrict access to cardholder data by business need-to-know
	Policy
    8. Assign a unique ID to each person with computer access
	Policy

    9. Restrict physical access to cardholder data
 	The cloud provider is responsible.	

Regularly monitor and test networks 	

    10. Track and monitor all access to network resources and cardholder data
	Policy
    11. Regularly test security systems and processes
	Policy
Maintain an information security policy 	

    12. Maintain a policy that addresses information security for all personnel
	Policy
