root = true

# Every file
[**]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Ruby style files
[{Gemfile,Rakefile,**.pt,**.rake,**.rb}]
indent_style = space
indent_size = 2

# Python style files
[{**.py}]
indent_style = space
indent_size = 2

# Cloud Formation Template files
[{**.template}]
indent_style = space
indent_size = 2

# Markdown files
[**.md]
indent_style = space
indent_size = 2

# JavaScript/JSON files
[{**.js,**.json}]
indent_style = space
indent_size = 2

# YAML files
[{**.yml,**.yaml}]
indent_style = space
indent_size = 2

# Image files
[{**.png,**.PNG,**.jpg,**.JPG,**.jpeg,**.JPEG,**.gif,**.GIF}]
end_of_line = unset
charset = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
