dist/
.DS_Store
*.log
!.devcontainer/**
!.github/**
*.js
node_modules/
*.txt
!package.json
!package-lock.json
!.vscode/*.json

# Ignore all JSON files at this level of directory
**/*.json

# But exclude JSON files in this specific directory
!data/policy_permissions_list/*.json
!data/active_policy_list/generally_recommended_templates.json

# Bundler Artifacts
bundle/

# Temporary files/directories
**.tmp.md
tmp/
temp/
.tmp/
.temp/

# Ignore bundler artifacts
.bundle/
bundle/
vendor/
