language: ruby
cache:
  directories:
  - bundle
rvm:
- 2.4.1
bundler_args: "--without documentation --path bundle"
before_install:
- git fetch --depth=1
- gem install bundler
- mkdir -p tmp && wget --no-check-certificate https://binaries.rightscale.com/rsbin/fpt/v1/fpt-linux-amd64.tgz
  && tar zxvf fpt-linux-amd64.tgz -C tmp;mv tmp/fpt/fpt .
script:
- bundle exec danger --verbose
- bundle exec rake generate_policy_list
deploy:
- provider: s3
  bucket: rs-policysync-tool
  region: us-east-1
  skip_cleanup: true
  local_dir: "$TRAVIS_BUILD_DIR/$WORK_DIR/dist"
  acl: public_read
  access_key_id: "$POLICY_SYNC_TOOL_S3_AWS_ACCESS_KEY_ID"
  secret_access_key: "$POLICY_SYNC_TOOL_S3_AWS_SECRET_ACCESS_KEY"
  on:
    branch: master
after_deploy:
- "./tools/travis/build_docs.sh"
env:
  global:
  - secure: yDluRsQa+7maPELk30YAFtUKCyeXTqJs0QpeEY8WnU7KJV1701ch9Tv5f2r9lOxzJ0Tuyfk9v6pbDU5LQJZ9dwNNCzQ1vdE58aH6E/ABwdyQFs8ml0nK3mCEOCVf1JRBy90rlYvkWpfv3a7haYdhBPFlYubSkCg28O9wds37R/PLXScKS73qsJ58UtwXvjcDWQpuepfwn1husUMiDLiCuIzYG+YFcpa3n3i1mLjhBGUZCCDvxzvUZa8YsmbfaEbRHHCYVeqOXYXrnzh0jTTsHMQ84Jla7AntJzd9pdS/puC4bhO7ZQCjh8000PmMOHIKPA3nLsybKW6lfq5YqTc2enbOCrjH57+dFHALQo0hP001XRRe9PTiQsvHiniOYaYat2IWul7OFxhdHIRumRdlr57iFoCKbPvgGg+710CTVktc65etPJplfIiWgm3faVWRjdyp1OnGZQ+HJNr5s+WFQUJs2bUeJbN/MzryPpYAso8G9HxjEWuXyBFo/ok/X2gf+ANg8Ev9li4w+q+uUqvvJfF06Uqn9CipABVMXyycDVIurb4EXcdB+XF831ZPq/b8wp18wXrJgNAszNl1WV/3EsD42xJHach2qIlh8XiUK67ZRVWN65D9TxtkagM38H/7lcwyMP7nvviVjYD3YxzycUsixlIEDSZonquaNp3e58c=
