name: Generate policy list

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  policy_test:
    name: "Policy Test"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          mkdir -p tmp && wget --no-check-certificate https://binaries.rightscale.com/rsbin/fpt/v1/fpt-linux-amd64.tgz && tar zxvf fpt-linux-amd64.tgz -C tmp;mv tmp/fpt/fpt .
      - uses: ruby/setup-ruby@v1
        with:
          # ruby-version: 2.4.1 # Not needed with a .ruby-version file
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Run Tests
        shell: bash -l {0} # https://github.com/actions/virtual-environments/issues/4
        run: |
          nvm install
          nvm use
          npm install
          bundle install --without documentation --path bundle
          bundle exec danger --verbose
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FPT_LOGIN_ACCOUNT_HOST: ${{ secrets.FPT_LOGIN_ACCOUNT_HOST }}
          FPT_LOGIN_ACCOUNT_ID: ${{ secrets.FPT_LOGIN_ACCOUNT_ID }}
          FPT_LOGIN_ACCOUNT_REFRESH_TOKEN: ${{ secrets.FPT_LOGIN_ACCOUNT_REFRESH_TOKEN }}
  policy_list:
    name: "Policy List"
    runs-on: ubuntu-latest
    needs: ["policy_test"]
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          # ruby-version: 2.4.1 # Not needed with a .ruby-version file
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Generate policy list
        shell: bash -l {0} # https://github.com/actions/virtual-environments/issues/4
        run: |
          bundle install --without documentation --path bundle
          bundle exec rake generate_policy_list
