name: Generate Policy Release Notifications

on:
  # Trigger this workflow on pushes to master
  push:
    branches:
      # - master
      - POL-847-policy-automated-updates-on-releases

  # Workflow dispatch trigger allows manually running workflow
  workflow_dispatch:
    branches:
  #     - master
      - POL-847-policy-automated-updates-on-releases
jobs:
  policy-release-notifications:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Speed up checkout by not fetching history

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1

      - name: Run Generate Policy Release Notification Content Script
        id: changelog_content
        run: |
          changelog_output=$(ruby tools/policy_template_release_generation/generate_policy_release_notification_contents.rb)
          echo "::set-output name=changelog_output::$changelog_output"

      - name: Send Teams Notification
        if: steps.changelog_content.outputs.changelog_output != ''
        env:
          TEAMS_WEBHOOK_URL: ${{ secrets.POLICY_CATALOG_UPDATE_TEAMS_WEBHOOK_URL }}
        run: |
          notification_content="${{ steps.changelog_content.outputs.changelog_output }}"
          payload="{
            \"@type\": \"MessageCard\",
            \"@content\": \"http://schema.org/extensions",
            \"themeColor\": \"0076D7\",
            \"summary\": \"New Policy Updates\",
            \"sections\": [
              {
                \"activityTitle\": \"Policy Releases\",
                \"text\": \"${notification_content}\"
              }
            ]
          }"
          curl -X POST -H "Content-Type: application/json" -d "$payload" "$TEAMS_WEBHOOK_URL"
